
/* Ajuste la anchura de la pantalla de acuerdo a las pantallas de la aplicacion Responsively*/
@media only screen and (min-width : 375px) {
    
    #background {
        background: #EEB215;
    }
    
    #grid {
        display: -ms-grid;
        margin: 3px;
        -ms-grid-column: 100%;
        -ms-grid-rows: 70px;
        text-align: center;
        background: #B2B0B0;
    }
    
    #header {
        
        text-align: center;
        -ms-grid-column: 2;
        -ms-grid-rows: 1;
        background: #726E6E;
    }
    
    #subtitle {
        
        text-align: center;
        -ms-grid-column: 4;
        -ms-grid-rows: 1;
        background: #515050;
        
    }
    
    #img {
        width: 300px;
        display: block;
        margin: auto;
        -ms-grid-column: 4;
        -ms-grid-rows: 1;
        background: #515050;
    }
    
}

@media only screen and (min-width : 411px) {
    
    #grid {
        display: -ms-grid;
        margin: 5px;
        -ms-grid-column: 10px 1fr 10px 1fr 10px;
        -ms-grid-rows: 100px 1fr  1fr;
        text-align: center;
    }
    
    #header {
        
        -ms-grid-column: 2;
        -ms-grid-rows: 1;
        -ms-grid-column-span: 5;
        text-align: center;
    }
    
    #subtitle {
        
        -ms-grid-column: 2;
        -ms-grid-rows: 2;
        text-align: center;
        
    }
    
    #img {
        width: 300px;
        display: block;
        margin: auto;
        -ms-grid-column: 3;
        -ms-grid-rows: 2;
    }

}

@media only screen and (min-width : 768px) {

    #grid {
        display: -ms-grid;
        margin: 5px;
        -ms-grid-column: 10px 1fr 10px 1fr 10px;
        -ms-grid-rows: 100px 1fr  1fr;
        text-align: center;
    }
    
    #header {
        
        -ms-grid-column: 2;
        -ms-grid-rows: 1;
        -ms-grid-column-span: 5;
        text-align: center;
    }
    
    #subtitle {
        
        -ms-grid-column: 2;
        -ms-grid-rows: 2;
        text-align: center;
        
    }
    
    #img {
        width: 500px;
        display: block;
        margin: auto;
        -ms-grid-column: 3;
        -ms-grid-rows: 2;
    }

}